alembic==1.11.1
beautifulsoup4==4.12.2
Flask==2.3.2
Flask_Migrate==4.0.4
flask_sqlalchemy==3.0.5
isbnlib==3.10.14
itemadapter==0.8.0
pandas==2.0.2
Requests==2.31.0
Scrapy==2.9.0
scrapy_selenium==0.0.7
selenium==4.10.0
SQLAlchemy==2.0.18
Werkzeug==2.3.6
