h1 {
    color:black;
    font-size: 46px;
     text-align: left;
     margin-left: 20px;
}

body {
    background: white;
}

/* https://stackoverflow.com/questions/20079782/changing-the-space-between-each-item-in-bootstrap-navbar */
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}