h1 {
    color:grey;
    font-size: 46px;
    text-align: left;
}

body {
    background: white;
}

/* https://stackoverflow.com/questions/20079782/changing-the-space-between-each-item-in-bootstrap-navbar */
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.label, label.inline {
    display: inline-block;
    width: 164px;
}