<!-- getbootstrap.com for bootstrap-->

{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-xxl">
    <h1>Add Amazon Bestseller List to Database</h1>
        <br/>

        {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error_statement}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

        Useful information:
        <ul>
          <li>Only enter bestseller page links from Amazon</li>
          <li>Each page requires a separate link. For example, page 1 and page 2 of the same bestseller list requires two links.</li>
          <li>Make sure each link begins with "https://www."</li>
          <li>Clicking "Add to Database" will add the books from the bestseller list into the database, including all price details.</li>
        </ul>


    <form action="/add_amazon_bestseller_list_to_db" METHOD="POST">
        <span class="label">Bestseller page link 1:</span> &nbsp <input type="text" name="amazon_bestseller_list_link_1" size="40"> <br/><br/>
        <span class="label">Bestseller page link 2:</span> &nbsp <input type="text" name="amazon_bestseller_list_link_2" size="40"> <br/><br/>
        <span class="label">Bestseller page link 3:</span> &nbsp <input type="text" name="amazon_bestseller_list_link_3" size="40"> <br/><br/>
        <span class="label">Bestseller page link 4:</span> &nbsp <input type="text" name="amazon_bestseller_list_link_4" size="40"> <br/><br/>
        <span class="label">Bestseller page link 5:</span> &nbsp <input type="text" name="amazon_bestseller_list_link_5" size="40"> <br/><br/>
        <span class="label">Bestseller page link 6:</span> &nbsp <input type="text" name="amazon_bestseller_list_link_6" size="40"> <br/><br/>
        <input type="submit" value="Add to Database" class="btn btn-primary"> <br/>
    </form>

	</div>
{% endblock %}