{% extends 'base.html' %}

{% block title %}Add Books to Database{% endblock %}

{% block content %}
    <div class="container">
      <h1>Add Book to Database</h1>

      {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error_statement}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

        <br/>
        <form action="/add_books" METHOD="POST">
            <input type="text" placeholder="Book Name" name="book_name" value={{book_name}}>
            <br/>
            <input type="text" placeholder="ISBN" name="isbn" value="{{isbn}}" pattern="([0-9]{10})|([0-9]{9}[X]{1})|([0-9]{13})" oninvalid="this.setCustomValidity('Please use either ISBN-10 or ISBN-13 format. Capitalise any \'X\' character.')" oninput="setCustomValidity('')">
            <br/>
            <input type="text" placeholder="Paperback/Hardcover?" name="edition_format" value={{edition_format}}>
            <br/><br/>

            <input type="submit" value="Add Book" class="btn btn-primary">
        </form>









	</div>
{% endblock %}