{% extends 'base.html' %}

{% block title %}Books List{% endblock %}

{% block content %}
    <div class="container">
        <h1>Books List</h1>

    {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error_statement}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

        <br/>
        <a class="btn btn-primary" href="/add_books" role="button">Add Book</a>
        <br/>



        <br/>
        <h3> Book Name || ISBN </h3>
        <br/>
        {% for book in books %}
        <h4>
            {{book.book_name}} || {{book.isbn}}
            <a href="/update/{{book.isbn}}" class="btn btn-outline-secondary btn-sm">Update</a>
            <a href="/delete/{{book.isbn}}" class="btn btn-outline-danger btn-sm">Delete</a>
        </h4>
        {% endfor %}

	</div>
{% endblock %}