{% extends 'base.html' %}

{% block title %}Books List{% endblock %}

{% block content %}
    <div class="container">
        <h1>Books List</h1>
        <br/>

    {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error_statement}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

        <!-- https://stackoverflow.com/questions/62009672/prevent-nav-item-to-a-new-line-when-reduce-page-width -->
        <!-- https://getbootstrap.com/docs/5.0/components/button-group/ -->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="min-width: 600px;">
        <div class="btn-group me-2" role="group" aria-label="First group">

      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Delete all Database Records?
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/delete_all_books">Yes! Delete ALL database records</a>
      </div>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Second group">
        <a class="btn btn-primary" href="/add_books" role="button">Add Book</a>
    </div>

            <div class="btn-group me-2" role="group" aria-label="Third group">
    {% if updatable==True %}
    <a class="btn btn-primary" href="/update_prices_in_database" role="button">Update Prices in Database</a>
    {% endif %}
    {% if updatable==False %}
    <!-- https://getbootstrap.com/docs/4.0/components/buttons/ -->
    <button type="button" class="btn btn-primary" disabled>Update Prices in Database</button>
    {% endif %}
    </div>

        <div class="btn-group" role="group" aria-label="Fourth group">
        <a class="btn btn-primary" href="/sync_tables" role="button">Sync Tables</a>
    </div>

    </div>

    <br/>
    <br/>
        <h4>Useful Information:</h4>
        <p>This is a list of all books, sorted by name in alphabetically, ascending order.</p>

    <p>Number of records in Ebay table: {{num_records_ebay}}</p>
    <p>Number of records in Amazon table: {{num_records_amazon}}</p>


         <br/>
        <h4>Database:</h4>


        <div class="mb-3 row">
    <label for="search_list" class="col-sm-2 col-form-label">Search the entire database:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="search_list" placeholder="">
    </div>
  </div>

      <br/>

        <!-- https://stackoverflow.com/questions/32774118/building-a-bootstrap-table-with-dynamic-elements-in-flask -->
        <!-- https://getbootstrap.com/docs/5.0/utilities/borders/#border-color -->
    <table class="table table-hover">
        <thead>
            <!-- https://stackoverflow.com/questions/61969955/bootstrap-fixed-width-table-columns-in-container-fluid -->
            <tr class="table-light">
                <th class="col-4 border-start border-top align-top" scope="col">Name</th>
                <th class="col-1 border-start border-top align-top" scope="col">ISBN</th>
                <th class="col-1 border-start border-top align-top" scope="col">Ebay New Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col">Ebay Used Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col">Amazon New Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col">Amazon Used Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col">Update Record</th>
                <th class="col-1 border-start border-top align-top" scope="col">Delete Record</th>
                <th class="col-1 border-start border-end border-top align-top" scope="col">View all Details</th>
            <tr>
        </thead>
        <tbody id=table_body>
            <!--https://stackoverflow.com/questions/1663807/how-do-i-iterate-through-two-lists-in-parallel-->
            {% for book_ebay, book_amazon in zip(books_ebay, books_amazon) %}
            <tr>
                <td class="col-4 border-start">{{ book_ebay.book_name }}</td>
                <td class="col-1 border-start">{{ book_ebay.isbn }}</td>
                <td class="col-1 border-start">£{{ book_ebay.new_total_price }}</td>
                <td class="col-1 border-start">£{{ book_ebay.used_total_price }}</td>
                <td class="col-1 border-start">£{{ book_amazon.new_total_price }}</td>
                <td class="col-1 border-start">£{{ book_amazon.used_total_price }}</td>
                <td class="col-1 border-start"> <div class="text-center"><a href="/update/{{book_ebay.isbn}}" class="btn btn-outline-secondary btn-sm">Update</a> </div></td>
                <!-- <td class="col-1 border-start"><div class="text-center"><a href="/delete/{{book_ebay.isbn}}" class="btn btn-outline-danger btn-sm">Delete</a></div> </td> -->
                <td class="col-1 border-start"><div class="text-center">
                    <button type="button" class="btn btn-outline-danger dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete?</button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="/delete/{{book_ebay.isbn}}">Yes! Delete record</a> </div></div></td>
                <td class="col-1 border-start border-end align-top"> <div class="text-center"><a href="/query_database_by_isbn/{{book_ebay.isbn}}" class="btn btn-outline-secondary btn-sm">View</a></div> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <br/>

	</div>

<!-- Search book list -->
<script>
$(document).ready(function(){
  $("#search_list").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table_body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}