<!-- getbootstrap.com for bootstrap-->

{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-xxl">
    <h1>BookArbitrage4U</h1>
        <br/>
<h4>Introduction:</h4>
        <!-- https://stackoverflow.com/questions/69190070/how-to-wrap-text-around-image-in-bootstrap-5 -->
        <div class="row">
      <div class="col-lg-100 pt-4 pt-lg-0">

          <!-- https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80 -->
        <img src="./static/BookShelfCorridor.jpg"  width="600" class="float-end imgshadow img_index" alt="">
        <p>This application is designed to show potential arbitrage opportunities for books on eBay and Amazon.
            For example, a book that is sold cheaper on Amazon compared to eBay, might lead to profit if the book is bought on  Amazon
            and sold on eBay. However, this might not be the case! Extra fees such as those levied by the platform, or
            those needed for postage, can eat into any potential profits. This application takes into account all of
            these fees and costs, in order to help you make a profit.
            See the recommended book arbitrage opportunities on the "Opportunities" tab!
        </p>

          <p>Although this application reduces the time input required to find potential arbitrage opportunities, some due diligence by the user is required to verify opportunities. This creator of this software bears no responsibility for any actions carried out by users of this software.</p>

          </br>


          <h4>Steps for Arbitrage:</h4>
          The steps for conducting arbitrage are as follows:

            <!-- https://stackoverflow.com/questions/4465562/how-to-write-w3c-compliant-multi-level-bullet-points-in-html -->
          <li style="list-style-type:none">
            <ol>
                <li>Go to the "Opportunities" page using the navigation bar.</li>
                <li>Choose an arbitrage opportunity to investigate, usually in order of most estimated profit.</li>
                <li>Confirm the book prices using its listings on eBay and Amazon. If the guidance says that a particular price is missing, check that this is the case. Should any price be wrong, the opportunity may need to be discarded.</li>
                <li>After manually confirming an arbitrage opportunity, purchase that item from the source seller using your business as the delivery address.</li>
                <li>List your product on the other marketplace platform.</li>
                <li>When an order is made for that arbitrage item, repackage the book you have received from the source seller and post to the final customer.</li>
            </ol>
          </li>


      </div>
    </div>




        <p></p>
	</div>
{% endblock %}