<!-- getbootstrap.com for bootstrap-->

{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-xxl">
    <h1>BookArbitrage4U</h1>
        <br/>
        <p>This application is designed to show arbitrage opportunities for books on eBay and Amazon. For example, a
            book that is sold cheaper on Amazon compared to eBay, might lead to profit if the book is bought on  Amazon
            and sold on eBay. However, this might not be the case! Extra fees such as those levied by the platform, or
            those needed for postage, can eat into any potential profits. This application takes into account all of
            these fees and costs, in order to help you make a profit.</p>
        <br/>



        <p></p>
	</div>
{% endblock %}