{% extends 'base.html' %}

{% block title %}About BookArbitrage4U{% endblock %}

{% block content %}
    <div class="container">
    <h1>Arbitrage Opportunities</h1>
        <br/>

        {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error_statement}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

        <h4>Useful Information:</h4>
        <p class="text-start fs-6" >The following arbitrage opportunties were found:</p>
        <p class="text-start fs-6" >Number of new book opportunities: {{number_of_new_opps}}</p>
        <p class="text-start fs-6" >Number of used book opportunities: {{number_of_used_opps}}</p>
        <p class="text-start fs-6" >Total number of book opportunities: {{number_of_new_opps + number_of_used_opps}}</p>

        <br/>
        <br/>

        <!-- https://getbootstrap.com/docs/5.0/forms/form-control/ -->
      <div class="mb-3 row">
    <label for="search_all" class="col-sm-2 col-form-label">Search all opportunities:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="search_all" placeholder="">
    </div>
  </div>

        <br/>
        <br/>
    <h4>Arbitrage of New Items:</h4>
        <br/>

           <div class="mb-3 row">
    <label for="search_all" class="col-sm-2 col-form-label">Search new opportunities:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="search_new" placeholder="">
    </div>
  </div>

        <br/>
    <table class="table table-hover" id="new_opportunities_table">
        <thead>
            <!-- https://stackoverflow.com/questions/61969955/bootstrap-fixed-width-table-columns-in-container-fluid -->
            <tr class="table-light" >
                <th class="col-4 border-start border-top align-top" scope="col">Name</th>
                <th class="col-1 border-start border-top align-top" scope="col">ISBN</th>
                <th class="col-1 border-start border-top align-top" scope="col">Ebay New Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col">Amazon New Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col" data-sortable="true" data-sorter="alphanum">Estimated Profit</th>
                <th class="col-1 border-start border-top align-top" scope="col">Update Record</th>
                <th class="col-1 border-start border-top align-top" scope="col">Delete Record</th>
                <th class="col-1 border-start border-end border-top align-top" scope="col">View all Details</th>
            <tr>
        </thead>
        <tbody id="table_new">
            <!--https://stackoverflow.com/questions/1663807/how-do-i-iterate-through-two-lists-in-parallel-->
            {% for book_ebay, book_amazon, profit in zip(books_ebay_new, books_amazon_new, profit_new) %}
            <tr>
                <td class="col-4 border-start">{{ book_ebay.book_name }}</td>
                <td class="col-1 border-start">{{ book_ebay.isbn }}</td>
                <td class="col-1 border-start">£{{ book_ebay.new_total_price[-1] }} <div class="text-left"><a href="https://www.ebay.co.uk/sch/i.html?_from=R40&_nkw={{book_ebay.isbn}}&_sacat=0&LH_BIN=1&_sop=15&rt=nc&LH_ItemCondition=3" class="btn btn-outline-secondary btn-sm">Ebay Link</a></div> </td>
                <td class="col-1 border-start">£{{ book_amazon.new_total_price[-1] }} <div class="text-left"><a href="https://{{book_amazon.amazon_link}}" class="btn btn-outline-secondary btn-sm">Amazon Link</a></div> </td>
                <td class="col-1 border-start">£{{ profit }}</td>
                <td class="col-1 border-start"> <div class="text-center"><a href="/update/{{book_ebay.isbn}}" class="btn btn-outline-secondary btn-sm">Update</a> </div></td>
                <td class="col-1 border-start"><div class="text-center"><a href="/delete/{{book_ebay.isbn}}" class="btn btn-outline-danger btn-sm">Delete</a></div> </td>
                <td class="col-1 border-start border-end align-top"> <div class="text-center"><a href="/query_database_by_isbn/{{book_ebay.isbn}}" class="btn btn-outline-secondary btn-sm">View</a></div> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <br/>
    <br/>
        <h4>Arbitrage of Used Items:</h4>
        <br/>

           <div class="mb-3 row">
    <label for="search_all" class="col-sm-2 col-form-label">Search used opportunities:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="search_used" placeholder="">
    </div>
  </div>

        <br/>
    <table class="table table-hover" id="used_opportunities_table">
        <thead>
            <!-- https://stackoverflow.com/questions/61969955/bootstrap-fixed-width-table-columns-in-container-fluid -->
            <tr class="table-light">
                <th class="col-4 border-start border-top align-top" scope="col">Name</th>
                <th class="col-1 border-start border-top align-top" scope="col">ISBN</th>
                <th class="col-1 border-start border-top align-top" scope="col">Ebay Used Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col">Amazon Used Total Price</th>
                <th class="col-1 border-start border-top align-top" scope="col">Estimated Profit</th>
                <th class="col-1 border-start border-top align-top" scope="col">Update Record</th>
                <th class="col-1 border-start border-top align-top" scope="col">Delete Record</th>
                <th class="col-1 border-start border-end border-top align-top" scope="col">View all Details</th>
            <tr>
        </thead>
        <tbody id="table_used">
            <!--https://stackoverflow.com/questions/1663807/how-do-i-iterate-through-two-lists-in-parallel-->
            {% for book_ebay, book_amazon, profit in zip(books_ebay_used, books_amazon_used, profit_used) %}
            <tr>
                <td class="col-4 border-start">{{ book_ebay.book_name }}</td>
                <td class="col-1 border-start">{{ book_ebay.isbn }}</td>
                <td class="col-1 border-start">£{{ book_ebay.used_total_price[-1] }} <div class="text-left"><a href="https://www.ebay.co.uk/sch/i.html?_from=R40&_nkw={{book_ebay.isbn}}&_sacat=0&LH_ItemCondition=4&LH_BIN=1&_sop=15" class="btn btn-outline-secondary btn-sm">Ebay Link</a></div> </td>
                <td class="col-1 border-start">£{{ book_amazon.used_total_price[-1]}} <div class="text-left"><a href="https://{{book_amazon.amazon_link}}" class="btn btn-outline-secondary btn-sm">Amazon Link</a></div> </td>
                <td class="col-1 border-start">£{{ profit }}</td>
                <td class="col-1 border-start"> <div class="text-center"><a href="/update/{{book_ebay.isbn}}" class="btn btn-outline-secondary btn-sm">Update</a> </div></td>
                <td class="col-1 border-start"><div class="text-center"><a href="/delete/{{book_ebay.isbn}}" class="btn btn-outline-danger btn-sm">Delete</a></div> </td>
                <td class="col-1 border-start border-end align-top"> <div class="text-center"><a href="/query_database_by_isbn/{{book_ebay.isbn}}" class="btn btn-outline-secondary btn-sm">View</a></div> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <br/>
        <br/>
	</div>

<!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_filters_table&stacked=h -->
<!-- Search for new opps -->
<script>
$(document).ready(function(){
  $("#search_new").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table_new tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<!-- Search for used opps -->
<script>
$(document).ready(function(){
  $("#search_used").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table_used tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<!-- Search all opps -->
<script>
$(document).ready(function(){
  $("#search_all").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table_new tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    $("#table_used tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}