{% extends 'base.html' %}

{% block title %}Query the Database{% endblock %}

{% block content %}
    <div class="container">
    <h1>Query the Database!</h1>
        <br/>

        <!-- https://mdbootstrap.com/docs/standard/extended/input-and-button-on-same-line/-->
    <form action="{{ url_for('query_form') }}" method="POST">
         <div class="d-flex justify-content-left mb-4">
             <div class="form-outline me-3" style="width: 14rem">
             <input type="text" id="isbn_input" class="form-control" placeholder="ISBN" name="isbn_input" value={{isbn_input}}>
             </div>
             <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    {% if message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if book_to_display_ebay and book_to_display_amazon %}
        <!-- https://stackoverflow.com/questions/28612699/table-header-on-left-side-in-bootstrap -->
        <div class="table-responsive text-nowrap">
        <table class="table w-auto">
      <tbody>
        <tr>
          <th scope="row" class="col-1 border-top border-start">Book Name</th>
          <td class="col-1 border-start border-top border-end">{{book_to_display_ebay.book_name}}</td>
        </tr>
        <tr>
          <th scope="row" class="col-1 border-start">ISBN</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.isbn}}</td>
        </tr>
        <tr>
          <th scope="row" class="col-1 border-start">Edition Format</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.edition_format}}</td>
        </tr>
        <tr>
          <th scope="row" class="col-1 border-start">Amazon Link</th>
          <td class="col-1 border-start border-end">{{book_to_display_amazon.amazon_link}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Amazon New Product Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_amazon.new_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Amazon New Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_amazon.new_delivery_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Amazon New Total Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_amazon.new_total_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Amazon Used Product Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_amazon.used_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Amazon Used Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_amazon.used_delivery_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Amazon Used Total Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_amazon.used_total_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Ebay Link</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.ebay_link}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Ebay New Product Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.new_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Ebay New Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.new_delivery_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Ebay New Total Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.new_total_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Ebay Used Product Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.used_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Ebay Used Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.used_delivery_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start">Ebay Used Total Price</th>
          <td class="col-1 border-start border-end">{{book_to_display_ebay.used_total_price}}</td>
        </tr>
      </tbody>
    </table>
            </div>


<br/>
    {% endif %}



	</div>
{% endblock %}