{% extends 'base.html' %}

{% block title %}Query the Database{% endblock %}

{% block content %}
    <div class="container">
    <h1>Query the Database</h1>
        <br/>

        <!-- https://mdbootstrap.com/docs/standard/extended/input-and-button-on-same-line/-->
        <p>Query by ISBN:</p>
    <form action="{{ url_for('isbn_query_form') }}" method="POST">
         <div class="d-flex justify-content-left mb-4">
             <div class="form-outline me-3" style="width: 14rem">
             <input type="text" id="isbn_input" class="form-control" placeholder="ISBN" name="isbn_input" value={{isbn_input}}>
             </div>
             <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>


            <p>Query by Book Name:</p>
    <form action="{{ url_for('name_query_form') }}" method="POST">
         <div class="d-flex justify-content-left mb-4">
             <div class="form-outline me-3" style="width: 14rem">
             <input type="text" id="name_input" class="form-control" placeholder="Book Name" name="name_input" value={{name_input}}>
             </div>
             <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>


    {% if message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if book_to_display_ebay and book_to_display_amazon %}
        <!-- https://note.nkmk.me/en/python-for-enumerate-zip/ -->
        {% for i,(book_ebay, book_amazon) in enumerate(zip(book_to_display_ebay, book_to_display_amazon)) %}
        <br/>
        <p>Match number: {{i}}<p/>
        <!-- https://stackoverflow.com/questions/28612699/table-header-on-left-side-in-bootstrap -->
        <div class="table-responsive text-nowrap">
        <table class="table w-auto">
      <tbody>
        <tr>
          <th scope="row" class="col-1 border-top border-start table-light">Book Name</th>
          <td class="col-1 border-start border-top border-end">{{book_ebay.book_name}}</td>
        </tr>
        <tr>
          <th scope="row" class="col-1 border-start table-light">ISBN</th>
          <td class="col-1 border-start border-end">{{book_ebay.isbn}}</td>
        </tr>
        <tr>
          <th scope="row" class="col-1 border-start table-light">Edition Format</th>
          <td class="col-1 border-start border-end">{{book_ebay.edition_format}}</td>
        </tr>
        <tr>
          <th scope="row" class="col-1 border-start table-light">Amazon Link</th>
          <td class="col-1 border-start border-end">{{book_amazon.amazon_link}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Amazon New Product Price</th>
          <td class="col-1 border-start border-end">{{book_amazon.new_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Amazon New Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_amazon.new_delivery_price}}</td>
        </tr>
      <tr class="table-active">
          <th scope="row" class="col-1 border-start table-light">Amazon New Total Price</th>
          <td class="col-1 border-start border-end">{{book_amazon.new_total_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Amazon Used Product Price</th>
          <td class="col-1 border-start border-end">{{book_amazon.used_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Amazon Used Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_amazon.used_delivery_price}}</td>
        </tr>
      <tr class="table-active">
          <th scope="row" class="col-1 border-start table-light">Amazon Used Total Price</th>
          <td class="col-1 border-start border-end">{{book_amazon.used_total_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Ebay Link</th>
          <td class="col-1 border-start border-end">{{book_ebay.ebay_link}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Ebay New Product Price</th>
          <td class="col-1 border-start border-end">{{book_ebay.new_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Ebay New Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_ebay.new_delivery_price}}</td>
        </tr>
      <tr class="table-active">
          <th scope="row" class="col-1 border-start table-light">Ebay New Total Price</th>
          <td class="col-1 border-start border-end">{{book_ebay.new_total_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Ebay Used Product Price</th>
          <td class="col-1 border-start border-end">{{book_ebay.used_product_price}}</td>
        </tr>
      <tr>
          <th scope="row" class="col-1 border-start table-light">Ebay Used Delivery Price</th>
          <td class="col-1 border-start border-end">{{book_ebay.used_delivery_price}}</td>
        </tr>
      <tr class="table-active">
          <th scope="row" class="col-1 border-start table-light">Ebay Used Total Price</th>
          <td class="col-1 border-start border-end">{{book_ebay.used_total_price}}</td>
        </tr>
      </tbody>
    </table>
            {% endfor %}
            </div>


<br/>
    {% endif %}



	</div>
{% endblock %}