<!-- https://www.freecodecamp.org/news/develop-database-driven-web-apps-with-python-flask-and-mysql/ -->

<!DOCTYPE html>
<html lang="en">

    <head>
		<title>Book Arbitrage 4 U</title>
		<style>
		h1 {
		font-size: 50px;
		font-family: Roboto;
		font-weight: bold;
		color: rgb(100,100,100);
		text-align: center;
		}
		h2 {
		font-size: 30px;
		font-family: Roboto;
		font-weight: bold;
		color: rgb(100,100,100);
		text-align: left;
		}
		#books {
		width: 100%;
		height: 300px;
		object-fit: cover
		}
		#container {
		max-width: 720px;
		margin: 0 auto 0 auto;
		}
</style>
	</head>

	<body>
		<div id="container">
		<h1>Book Arbitrage 4 U</h1>
		<img id="books" src = "../static/dan-wayman-5twimJ0bLFE-unsplash.jpg">
		<h2>Potential Opportunities</h2>
		<button>Update pricing data</button>
		<p>TODO- Show potential arbitrage opportunities here</p>
		</div>
	</body>

</html>